@font-face{
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/SF-Pro-Text-Regular.woff2) format("woff2");
  font-display:swap
}

@font-face{
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/SF-Pro-Text-Medium.woff2) format("woff2");
  font-display:swap
}

@font-face{
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src:url(../fonts/SF-Pro-Text-Semibold.woff2) format("woff2");
  font-display:swap
}

@font-face{
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/SF-Pro-Display-Regular.woff2) format("woff2");
  font-display:swap
}

@font-face{
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/SF-Pro-Display-Bold.woff2) format("woff2");
  font-display:swap
}

@font-face{
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src:url(../fonts/SF-Pro-Display-Heavy.woff2) format("woff2");
  font-display:swap
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 32px 0;
  font-family: "SF Pro Text", "Arial", sans-serif;
  background-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}